<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShopAmazing.Web</title>

    <environment include="Development">
        <!--Landing Page-->
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/css/pe-icons.css" rel="stylesheet">
        <link href="~/css/prettyPhoto.css" rel="stylesheet">
        <link href="~/css/animate.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
        <script src="~/js/jquery.js"></script>
        @*[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
        <![endif]*@
        <link rel="shortcut icon" href="~/images/ico/favicon.ico">
        <link rel="apple-touch-icon" sizes="144x144" href="~/images/ico/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/images/ico/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/images/ico/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" href="~/images/ico/apple-touch-icon-57x57.png">
        <!--Landing Page-->
        <!--INDEX-->
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
        <link href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />



        <!-- Specific Page Vendor CSS -->
        <link href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
        <link href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
        <link href="~/assets/vendor/morris/morris.css" rel="stylesheet" />


        <!-- Theme CSS -->
        <link href="~/assets/stylesheets/theme.css" rel="stylesheet" />

        <!-- Skin CSS -->
        <link href="~/assets/stylesheets/skins/default.css" rel="stylesheet" />

        <!-- Theme Custom CSS -->
        <link href="~/assets/stylesheets/theme-custom.css" rel="stylesheet" />

        <!-- Head Libs -->

        <script src="~/assets/vendor/modernizr/modernizr.js"></script>


        <!--Update User Page-->
        <link rel="stylesheet" href="~/assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />

        <!--INDEX-->









    </environment>
    <environment exclude="Development">


        <!--Landing Page-->
        <link href="~/css/bootstrap.min.css" rel="stylesheet">
        <link href="~/css/font-awesome.min.css" rel="stylesheet">
        <link href="~/css/pe-icons.css" rel="stylesheet">
        <link href="~/css/prettyPhoto.css" rel="stylesheet">
        <link href="~/css/animate.css" rel="stylesheet">
        <link href="~/css/style.css" rel="stylesheet">
        <script src="~/js/jquery.js"></script>
        <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
        <link rel="shortcut icon" href="~/images/ico/favicon.ico">
        <link rel="apple-touch-icon" sizes="144x144" href="~/images/ico/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/images/ico/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/images/ico/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" href="~/images/ico/apple-touch-icon-57x57.png">
        <!--Landing Page-->





        <!--INDEX-->
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <!-- Web Fonts  -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link href="~/assets/vendor/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="~/assets/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" />
        <link href="~/assets/vendor/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />



        <!-- Specific Page Vendor CSS -->
        <link href="~/assets/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css" rel="stylesheet" />
        <link href="~/assets/vendor/bootstrap-multiselect/bootstrap-multiselect.css" rel="stylesheet" />
        <link href="~/assets/vendor/morris/morris.css" rel="stylesheet" />


        <!-- Theme CSS -->
        <link href="~/assets/stylesheets/theme.css" rel="stylesheet" />

        <!-- Skin CSS -->
        <link href="~/assets/stylesheets/skins/default.css" rel="stylesheet" />

        <!-- Theme Custom CSS -->
        <link href="~/assets/stylesheets/theme-custom.css" rel="stylesheet" />

        <!-- Head Libs -->

        <script src="~/assets/vendor/modernizr/modernizr.js"></script>

        <!--INDEX-->










    </environment>
</head>
<body>





    <partial name="_CookieConsentPartial" />


    @RenderBody()










<environment include="Development">






</environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
