@model AutoRepairShop.Web.Data.Entities.Fuel
@{
    ViewData["Title"] = "Create Fuel";
}

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="FuelType"></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="inputDefault" asp-for="FuelType">
                        </div>
                        <span asp-validation-for="FuelType" class="text-warning"></span>
                    </div>


                    <div style="text-align: center">
                        <div class="form-group">
                            <button type="submit" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Add</button>
                            <a asp-action="Index" formnovalidate class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Exit</a>
                        </div>
                    </div>

                </form>
            </div>
        </section>


    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
