@model AutoRepairShop.Web.Models.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <form asp-action="ChangePassword">
                    <div>
                        <span class="text-info">@ViewBag.Message</span>
                    </div>


                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Email" />
                    <input type="hidden" asp-for="UserName" />


                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="OldPassword">Current Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="inputDefault" asp-for="OldPassword">
                        </div>
                        <span asp-validation-for="OldPassword" class="text-warning"></span>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="NewPassword">New Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="inputDefault" asp-for="NewPassword">
                        </div>
                        <span asp-validation-for="NewPassword" class="text-warning"></span>
                    </div>




                    <div class="form-group">
                        <label class="col-md-3 control-label" asp-for="ConfirmPassword">Confirm Password</label>
                        <div class="col-md-6">
                            <input type="password" class="form-control" id="inputDefault" asp-for="ConfirmPassword">
                        </div>
                        <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                    </div>


                    <div style="text-align: center">
                        <div class="form-group">
                            <button type="submit" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Change</button>
                            <button asp-controller="Home"  asp-action="Index"  formnovalidate  class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Exit</button>
                        </div>
                    </div>

                    <div class="text-success">@ViewBag.Message</div>
                </form>
            </div>
        </section>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}