@model AutoRepairShop.Web.Models.VehicleViewModels.EditVehicleViewModel

@{
    ViewData["Title"] = "EditModel";
}

<h2>Edit</h2>

<h4>Vehicle</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditVehicle">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="BrandId" />



            <div class="form-group">
                <label asp-for="LicencePlate">Licence PLate</label>
                <input asp-for="LicencePlate" class="form-control" />
                <span asp-validation-for="LicencePlate" class="text-warning"></span>
            </div>



            <div class="form-group">
                <label asp-for="BrandName">Licence PLate</label>
                <input asp-for="BrandName" class="form-control" readonly="readonly" />
                <span asp-validation-for="BrandName" class="text-warning"></span>
            </div>


            <div class="form-group">
                <label asp-for="ModelId" class="control-label">Model</label>
                <select asp-for="ModelId" asp-items="Model.Models" class="form-control"></select>
                <span asp-validation-for="ModelId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ModelName">Other Model Not Listed</label>
                <input asp-for="ModelName" class="form-control" />
                <span asp-validation-for="ModelName" class="text-warning"></span>
            </div>


            <div class="form-group">
                <label asp-for="EngineCapacity">Engine Capacity</label>
                <input asp-for="EngineCapacity" class="form-control" />
                <span asp-validation-for="EngineCapacity" class="text-warning"></span>
            </div>


            <div class="form-group">
                <label asp-for="FuelId" class="control-label">Fuel</label>
                <select asp-for="FuelId" asp-items="Model.Fuels" class="form-control"></select>
                <span asp-validation-for="FuelId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="ColorId" class="control-label">Color</label>
                <select asp-for="ColorId" asp-items="Model.Colors" class="form-control"></select>
                <span asp-validation-for="ColorId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" >Back to Index</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
