@model AutoRepairShop.Web.Models.EmployeeViewModel.CreateEmployeeViewModel
@{
    ViewData["Title"] = "Create Employee";
}



    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <div class="panel-body">
                    <form method="post">
                        <div class="form-group">
                            <label class="col-md-3 control-label" asp-for="DealershipId"></label>
                            <div class="col-md-6">
                                <select class="form-control" asp-items="Model.Dealerships" asp-for="DealershipId">
                                </select>
                                <span asp-validation-for="DealershipId" class="text-danger"></span>
                            </div>

                        </div>



                        <div class="form-group">
                            <label class="col-md-3 control-label" asp-for="DepartmentId"></label>
                            <div class="col-md-6">
                                <select class="form-control" id="services" asp-items="Model.Departments" asp-for="DepartmentId">
                                </select>
                                <span asp-validation-for="DepartmentId" class="text-danger"></span>
                            </div>

                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label" asp-for="PositionId"></label>
                            <div class="col-md-6">
                                <div class="selectChange">
                                    <select class="form-control" id="dealerships" asp-items="Model.Positions" asp-for="PositionId">
                                    </select>
                                </div>
                                <span asp-validation-for="PositionId" class="text-danger"></span>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label" asp-for="UserName"></label>
                            <div class="col-md-6">
                                <div>
                                    <input type="text" class="form-control" id="inputDefault" asp-for="UserName">
                                </div>
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        





                        <div style="text-align: center">
                            <div class="form-group">
                                <button type="submit" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary">Continue</button>
                            </div>
                        </div>

                    </form>


                </div>
            </section>
        </div>
    </div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
