@model AutoRepairShop.Web.Models.DShip.DealershipServicesViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Add Services for @Model.DealershipName</h2>


@using (Html.BeginForm("AddService", "Dealerships", FormMethod.Post))
{

    <input type="hidden" asp-for="DealershipId" />
    <input type="hidden" asp-for="DealershipName" />

    <table class="table">
        <thead>
            @for (int i = 0; i < Model.Services.Count(); i++)
            {

                <tr>
                    <th>
                        @Html.DisplayFor(model => model.Services[i].Service.ServiceType)
                        <input type="hidden" asp-for="Services[i].Id" />
                    </th>
                    <td>
                        @Html.CheckBoxFor(m => Model.Services[i].IsActive)
                    </td>
                </tr>
            }

    </table>
    <td>
        <input type="submit" value="Post" />
    </td>
}

