@model AutoRepairShop.Web.Data.Entities.Dealership

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Dealership</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CreationDate" class="control-label"></label>
                <input asp-for="CreationDate" class="form-control" />
                <span asp-validation-for="CreationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeactivationDate" class="control-label"></label>
                <input asp-for="DeactivationDate" class="form-control" />
                <span asp-validation-for="DeactivationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="DealerShipName" class="control-label"></label>
                <input asp-for="DealerShipName" class="form-control" />
                <span asp-validation-for="DealerShipName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode.ZipCode4" class="control-label"></label>
                <input asp-for="ZipCode.ZipCode4" class="form-control" id="zCode4"/>
                <span asp-validation-for="ZipCode.ZipCode4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode.ZipCode3" class="control-label"></label>
                <input asp-for="ZipCode.ZipCode3" class="form-control" id="zCode3"/>
                <span asp-validation-for="ZipCode.ZipCode3" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="ZipCodeId" id="codeId"/>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () {

        $("#zCode3").change(function () {
                $.ajax({
                    type: 'GET',
                        url: '@Url.Action("GetCityIdAsync")',
                        dataType: 'json',
                    data: { zipcode4: $("#zCode4").val(), zipcode3: $("#zCode3").val() },
                    success: function (cityId) {
                        var data = JSON.stringify(cityId);
                        $("#codeId").val(data);
                    }
                });

            });

    });
</script>
}
