@model AutoRepairShop.Web.Data.Entities.Color

@{
    ViewData["Title"] = "Delete Color";
}



<h3>Are you sure you want to delete this?</h3>

<h2>@ViewBag.Error </h2>
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<section class="panel">
    <div class="panel-body tab-content">
        <div id="access-log" class="tab-pane active">
            <table class="table table-striped table-no-more table-bordered  mb-none">
                <thead>
                    <tr>
                        <th style="width: 25%; margin: auto"><span class="text-normal text-sm">Data</span></th>
                        <th style="width: 55%"><span class="text-normal text-sm">Brand Information</span></th>
                    </tr>
                </thead>
                <tbody class="log-viewer">
                    <tr>
                        <td data-title="Type" class="pt-md pb-md">
                            @Html.DisplayNameFor(model => model.ColorName)
                        </td>
                        <td data-title="Date" class="pt-md pb-md">
                            @Html.DisplayFor(model => model.ColorName)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <form asp-action="Delete" style="text-align: center">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Delete</button>
            <a asp-action="Index" formnovalidate class="mb-xs mt-xs mr-xs btn btn-lg btn-primary" style="width: 200px">Exit</a>
        </form>

    </div>
</section>
